@model WiFi_Antennas_Win.BLL.DTO.UserDTO

<h2>Ввредите данные для авторизации:</h2>
<form method="post">
    <label asp-for=Login>Логин: </label>
    <input asp-for=Login />
    <label asp-for=Password>Пароль: </label>
    <input asp-for=Password />
    <button>Авторизоваться</button>
</form>
